[user]
	name = yuki-shimoda-crypto
	email = 77478109+yuki-shimoda-crypto@users.noreply.github.com

[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:

[url "gitlab:"]
    InsteadOf = https://gitlab.com/
    InsteadOf = git@gitlab.com:

[commit]
	template = ~/commit_template/commit_template_en.txt
[safe]
	directory = /app
