[user]
	name = Yuki Shimoda
	email = yuki-shimoda@protonmail.com
	signingKey = 98944B974CCC1C87

[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:

[url "gitlab:"]
    InsteadOf = https://gitlab.com/
    InsteadOf = git@gitlab.com:

[commit]
	gpgSign = true
[safe]
	directory = /app
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
